* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: #241e1a;
	background: #d7cfcb;
}

html {
	max-width: 948px;
	margin: 0 auto;
	padding: 48px 24px 48px 24px;
}

body {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	margin: 0 -12px;
	padding: 0;
	font-family: Courier, monospace;
	font-size: 15px;
	line-height: 24px;
}

nav, ul.cards {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0 -12px;
	padding: 0 12px;
}

article, aside, figure, footer, h1, h2, header, hr, main, nav ul, p.subtitle, p.more, p.pagination, ul.cards li {
	order: 0;
	flex: 0 0 auto;
	align-self: auto;
	padding: 0 12px;
}

.col25, aside, nav ul, p.pagination {width: 25%;}

.col33 {width: 33%;}

.col50, footer, header, main, p.subtitle, p.more {width: 50%;}

.col50p {width: 50%;margin-left: 25%;}

.col75p, footer, header, main, figure.tall {margin-left: 25%;}

.col66 {width: 66%;}

.col75, .col75p, h1, h2, hr, figure.tall {width: 75%;}

.col100, figure, nav {width: 100%;}

nav ul {padding: 0;}

nav ul:nth-child(2) {
	margin-bottom: 0;
}

nav ul:nth-child(3) {
	margin-left: 25%;
	padding-left: 18px;
}

nav ul.logo {
	margin: 0 18px 0 0;
	padding: 0 0px 0 0;
}

nav ul.logo img {
	width: 80px;
	float: right;
}

/*nav ul:last-child {width: 20%;}*/

nav ul li {
	margin-bottom: 6px;
}

nav ul li:last-child {
	margin-bottom: 0;
}

nav ul li a:hover:after, ul li.here a:after {
	content: "⬥";
	position: absolute;
	padding-left: 6px;
	margin-top: 0px;
}

nav ul li h1 a:hover:after {content: none;}

ul li.listing {background: url(../img/spacer.png) repeat-x 0 50%;}

ul li.listing a {
	background: #d7cfcb;
	padding-right: 10px;
}

ul li.listing span {
	background: #d7cfcb;
	float: right;
	padding-left: 10px;
}

article, aside, figure, footer p, header, header p, hr, main, main p, main ul, aside p, nav ul, ul.cards li, aside ul, ol {margin-bottom: 24px;}

footer p:last-child, header p:last-child, main p:last-child, main ul:last-child, aside ul:last-child, aside p:last-child {margin-bottom: 0;}

hr {
	display: block;
	order: 0;
	flex: 0 0 auto;
	align-self: auto;
	content: " ";
	background-image: url(../img/cross.svg);
	background-size: 24px 24px;
	background-position: 12px 0;
	background-repeat: no-repeat;
	width: 75%;
	height: 24px;
	margin: 24px auto 48px 25%;
	border: none;
}

main hr {
	background-position: 0 0;
	width: 100%;
	margin: 0 auto 24px 0;
}

h1, h2, h3 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 900;
}

h1, h2 {
	font-size: 32px;
	line-height: 36px;
	margin: 0 0 24px 25%;
}

nav h1 {
	margin: 3px 0 24px -12px;
}

h3 {
	font-size: 18px;
	margin: 0 0 12px 0;
}

p.subtitle {margin: 0 0 0px 25%;}

p.more, p.pagination {margin: 0 0 24px 25%;}

p.pagination a:after {content: " ↑";}

p.pagination + p.pagination {margin: 0 0 24px 0%;}

p.more a:after, p.pagination + p.pagination a:after {content: " ↓";}

a:hover {text-decoration: none;}

a[target="_blank"] {text-decoration-style: double;}

p.more a, p.pagination a, a.blocklink {
    display: block;
    color: #241e1a;
    background: ##d7cfcb;
    border: 1px solid #241e1a;
    padding: 12px;
    margin: 6px 0;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

ul li, ol li {margin: 0 0 12px 0;}

ul li:last-child, ol li:last-child {margin-bottom: 0;}

ul.cards li:last-child {margin-bottom: 24px;}

main ul li::before {
  content: "⬥";
  padding-right: 12px;
  margin-left: -24px;
}

main ul.cards li::before {
	content: none;
}

main ul.cards {
	padding: 0;
}

main p.more {
	width: 100%;
	margin: 0 0 24px 0;
	padding: 0;
}

main p.more:last-child {
	margin-bottom: 0;
}

img {
	max-width: 100%;
	max-height: 80vh;
}

figure { text-align: center;}

footer a.cc {
	padding-left: 20px;
	background-image: url(../img/cc.svg);
	background-size: 14px 14px;
	background-position: 0 2px;
	background-repeat: no-repeat;
}

footer a.rss {
	padding-left: 20px;
	background-image: url(../img/rss.svg);
	background-size: 12px 12px;
	background-position: 1px 3px;
	background-repeat: no-repeat;
}

footer a.merveilles {
	padding-left: 20px;
	background-image: url(../img/merveilles.svg);
	background-size: 14px 14px;
	background-position: 0 2px;
	background-repeat: no-repeat;
}

/* latin-ext */
@font-face {
  font-family: 'Charm';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/charm-latin-ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Charm';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/charm-latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.two {font-family: "Charm", cursive; font-size: 19px; line-height: 27px;}
.notes {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}

@media only screen and (max-width: 648px) {
	.col25, .col33, .col50, .col50p, .col75, .col75p, article, aside, figure, figure.tall, footer, h1, h2, header, hr, main, nav, nav ul.logo, p.subtitle, p.more, p.pagination, ul.cards li {width: 100%;}
	
	nav ul {
		width: 50%;
		padding: 0 0 0 12px;
	}
	
	nav ul.logo {margin: 0 0 0 12px;}
	
	nav ul.logo img {float: none;}

	nav h1 {margin: 0 0 24px -12px;}
	
	nav ul:nth-child(2) {width: 51%;}

	nav ul:nth-child(3) {padding-left: 12px;}

	.col50p, .col75p, nav ul:nth-child(3), footer, h1, h2, header, hr, main, figure.tall, p.subtitle, p.more, p.pagination {margin-left: 0;}
}